html, body {
	font-family: Consolas, monaco, monospace;
	background-color: #272822;
	color: #F8F8F2;
}

.container {
	margin: 50px;
}

a {
	text-decoration: none;
	color: #A6E22E;
}

a:hover {
	color: #F92672;
}

h1 {
	color: #F92672;
}

h2 {
	color: #66D9EF;
}


/* AJOUT PHIL */

.highlight {
	font-weight: bold;
	background-color: orange;
}

up a, down a {
	font-size: 20px;
}

up a:hover, down a:hover {
	background-color: green;
}


#show-selected {
	position: absolute;
	width: 200px;
	background-color: #FFF;
	color:#000;
}

.search-result h3, .search-result ul {
	margin: 0;
}

.search-result ul {
	float: left;
	list-style: none;
}

.search-result ul li {
	float: left;
	font-size: 14px;
	padding: 10px;
}

.clearfix:after {
	display: block;
	clear: both;
	content: "";
}

