<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<title>Mudéo | Entre musique et vidéo</title>
	<!--Tag for responsive-->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--jQuery CDN-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<!--Recaptcha Google-->
	<script src="https://www.google.com/recaptcha/api.js" async defer></script>
	<!--CSS/reset+perso-->
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/style.css">
	<!--Font-->
	<!--Favicon-->
	<link rel="icon" type="image/png" href="img_site/favicon.png" />
	<!--[if IE]><link rel="shortcut icon" type="image/x-icon" href="img_site/favicon.png" /><![endif]-->
</head>
<body>

	<!--Header-->
	<header id="top_Anchor">
		<nav class="wrap">

			<!--Pour smartphone et tablette-->
			<h1 id="logo_Min"><a href="index.html" title="mudéo, renvoi à l'accueil"><img src="img_site/logo_min.png" alt="mudéo"></a></h1>
			<!--Burger menu-->
			<span id="burger_Menu"></span>
			<!--Pour desktop-->
			<h1 id="logo"><a href="index.html" title="mudéo, renvoi à l'accueil"><img src="img_site/logo.png" alt="mudéo"></a></h1>

			<ul id="main_Menu" class="hide">
				<li><a href="home_content.html">Regarder</a></li>
				<li><a href="upload.html">Mettre en ligne</a></li>
				<!--Apparait seulement si non-connecté-->
				<li><a href="index.html#logger">Connection</a></li>
				<!--Apparait seulement si connecté sur smartphone et tablette-->
				<li><a class="desktop_Hide" href="profil.html">Profil</a></li>
				<!--Seulement pour smartphone et tablette-->
				<li><a class="desktop_Hide" href="aide.html.html">Aide</a></li>
				<!--Compte upgrade-->
				<li><a href="upgrade.html">Abonnement</a></li>
			</ul>

			<a id="user_Profil" href="profil.html" title="accès au profil"><img src="img_site/user.png" alt="profil"></a>

			<form id="search_Field" method="GET">
				<input id="search" type="search" name="search_Input" placeholder="Rechercher dans mudeo"></input>
				<span id="search_Icon"><input type="submit" name="search_Submit" value=""></input></span>
			</form>

		</nav>
	</header>

	<section id="help_Section" class="wrap">
		<h2>Creative Commons</h2>

		<nav class="fast_Link">
			<ul>
				<li><a href="#explain" title="En quoi consistent les licences Creative Commons ?">En quoi consistent les licences Creative Commons ?</a></li>
				<li><a href="#how_To" title="Comment ajouter une licence Creative Commons à ma vidéo ?">Comment ajouter une licence Creative Commons à ma vidéo ?</a></li>
				<li><a href="#to_All" title="Comment associer des licences à toutes mes vidéos géniales en même temps ?">Comment associer des licences à toutes mes vidéos géniales en même temps ?</a></li>
				<li><a href="#obligatory" title="Suis-je obligé d'ajouter une licence Creative Commons à mes vidéos ?"> Suis-je obligé d'ajouter une licence Creative Commons à mes vidéos ?</a></li>
				<li><a href="#license_Explain" title="Que signifient les différentes licences Creative Commons ?">Que signifient les différentes licences Creative Commons ?</a></li>
				<li><a href="#can_I" title="Puis-je faire confiance à la licence Creative Commons appliquée à chaque vidéo ?">Puis-je faire confiance à la licence Creative Commons appliquée à chaque vidéo ?</a></li>
				<li><a href="#i_Wish" title="Je souhaite utiliser une vidéo que j'ai vue sur Mudeo. Dois-je obtenir une autorisation ?">Je souhaite utiliser une vidéo que j'ai vue sur Mudeo. Dois-je obtenir une autorisation ?</a></li>
			</ul>
		</nav>
		<div id="explain" class="help_Box">
			<h3>En quoi consistent les licences Creative Commons ?</h3>
			<p>Creative Commons repose sur l'idée que certaines personnes peuvent ne pas souhaiter exercer tous les droits de propriété intellectuelle que leur accorde la loi.</p>
			<p>Nous croyons qu'il devrait exister des mentions légales simples et fiables du type « Certains droits réservés », voire « Aucun droit réservé ». Du fait de cette lacune, nombreux sont les créateurs de vidéos qui pensent, depuis longtemps, que des droits d'auteur très restrictifs ne les aident pas à obtenir l'exposition et la diffusion qu'ils souhaitent. Beaucouip d'entrepreneurs et artistes préfèrent se fier à des modèles commerciaux innovants plutôt qu'à des droits d'auteur contraignants, afin de veiller à ce que leurs investissements créatifs portent leurs fruits. D'autres encore sont satisfaits de contribuer et de participer à des propriétés intellectuelles communes.</p>
			<p>Quelles que soient les raisons, il est évident que de nombreux citoyens du Web veulent partager leurs œuvres (et leur capacité à réutiliser, modifier et distribuer leurs œuvres) avec d'autres suivant des conditions généreuses. Creative Commons a pour but d'aider ces personnes à exprimer cette préférence pour le partage en proposant au monde un ensemble de licences sur notre site, gratuitement.</p>
		</div>
		<div id="how_To" class="help_Box">
			<h3>Comment ajouter une licence Creative Commons à ma vidéo ?</h3>
			<p>Si vous voulez appliquer une licence Creative Commons à votre vidéo, il vous suffit d'aller sur la page de votre vidéo et de cliquer sur Paramètres en dessous du player. Cliquez sur l'onglet Avancés, faites défiler jusqu'à la section « Creative Commons License », puis sélectionnez la licence que vous voulez.</p>
		</div>
		<div id="to_All" class="help_Box">
			<h3>Comment associer des licences à toutes mes vidéos géniales en même temps ?</h3>
			<p>Vous pouvez appliquer une licence à toutes vos vidéos à la fois à partir de vos paramètres vidéo généraux.</p>
			<p>Sélectionnez la licence de votre choix et cliquez sur le bouton « Enregistrer par défaut ». Cochez « Appliquer à toutes les vidéos existantes » pour terminer.</p>
		</div>
		<div id="obligatory" class="help_Box">
			<h3>Suis-je obligé d'ajouter une licence Creative Commons à mes vidéos ?</h3>
			<p>Non, vous n'êtes pas obligé d'ajouter une licence Creative Commons à vos vidéos, mais il s'agit d'un moyen formidable de partager et collaborer avec les autres. Certains membres Mudeo souhaitent partager leur travail (et leur capacité à réutiliser, modifier et distribuer ces œuvres) avec d'autres sur la base de conditions plus généreuses. Creative Commons a pour but d'aider ces personnes à exprimer cette préférence pour le partage en proposant au monde un ensemble de licences</p>
		</div>
		<div id="license_Explain" class="help_Box">
			<h3>Que signifient les différentes licences Creative Commons ?</h3>
			<ul>  
				<li><strong>Attribution :</strong><p>Vous autorisez d'autres personnes à copier, distribuer, affiche et utiliser votre travail protégé par droits d'auteur - et les travaux qui en dérivent -, mais uniquement si elles citent leur source de la façon dont vous le demandez.</p></li>

			    <li><strong>Partage dans les mêmes conditions :</strong><p>Vous autorisez les autres à distribuer des travaux dérivés uniquement sous une licence identique à celle d'origine de votre travail.</p></li>

			    <li><strong>Non commercial :</strong><p>Vous autorisez les autres à copier, distribuer, afficher et exécuter votre travail — et toute œuvre dérivée basée dessus — mais uniquement à des fins non commerciales.</p></li>

			    <li><strong>Aucune œuvre dérivée :</strong><p>Vous autorisez les autres à copier, distribuer, afficher et jouer des copies verbatim de votre œuvre, mais en aucun cas des œuvres dérivées basées sur celle-ci.</p></li>

			    <li><strong>Cession au domaine public :</strong><p>Vous autorisez d'autres personnes à copier, modifier, distribuer et exécuter votre œuvre, même à des fins commerciales, sans qu'elles aient besoin de demander la permission.</p></li>
			</ul>
			<p>Vous pouvez également choisir différentes combinaisons de ces licences. Pour plus d'informations, notamment au sujet des actes de licences et des codes juridiques, veuillez visiter la page Web de présentation de Creative Commons.</p>
		</div>
		<div id="can_I" class="help_Box">
			<h3>Puis-je faire confiance à la licence Creative Commons appliquée à chaque vidéo ?</h3>
			<p>Nous offrons aux utilisateurs la possibilité d'appliquer des licences Creative Commons à leurs propres vidéos. Bien que nos Conditions d'utilisation interdisent aux utilisateurs de mettre en ligne du contenu non autorisé, nous ne pouvons garantir que tous les utilisateurs qui mettent une vidéo en ligne et lui appliquent une licence Creative Commons ont tous les droits nécessaires pour cela.</p>

			<p>Si l'utilisateur ne possède pas tous les droits requis pour une vidéo (ou le contenu de la vidéo), la licence Creative Commons ne sera pas valide pour ce contenu. Par conséquent, nous vous suggérons de faire preuve de prudence lorsque vous utilisez des œuvres sous licence Creative Commons. Vous pouvez envoyer un message privé à un membre qui a mis en ligne des œuvres sous licence Creative Commons pour en savoir plus sur le contenu en question.</p>

			<p>Si vous avez des raisons de croire qu'un utilisateur a mis en ligne du contenu non autorisé (par ex., une émission de télévision ou un film populaire), nous vous encourageons à signaler la vidéo afin qu'un modérateur Mudeo puisse l'examiner.</p>
		</div>
		<div id="i_Wish" class="help_Box">
			<h3>Je souhaite utiliser une vidéo que j'ai vue sur Mudeo. Dois-je obtenir une autorisation ?</h3>
			<p>Oui, c'est toujours une bonne idée de contacter le créateur d'une vidéo si vous souhaitez utiliser celle-ci. Nos membres conservent le droit d'auteur de leurs œuvres, et c'est à eux de décider quel type d'utilisation ils souhaitent permettre.</p>			
		</div>
		<div id="still_Stuck">
			<p>Toujours coincé ? <a href="mailto:support@mudeo.fr" title="contacter mudéo">Envoyez-nous un e-mail</a> ou contacter le support au 00 00 00 00 00.</p>			
		</div>
	</section>

	<!--Footer-->
	<footer>
		<!--Version Desktop uniquement-->
		<section id="top_Part">
			<div id="centered_Menu">
				<nav id="mudeo_Menu">
					<h5>Mudeo</h5>
					<ul>
						<li><a href="aide.html" title="A propos de mudeo">A propos de mudeo</a></li>
						<li><a href="" title="Règles du site">Règles</a></li>
						<li><a href="aide.html" title="Conditions d'utilisation">Conditions d'utilisation</a></li>
						<li><a href="aide.html" title="Confidentialité">Confidentialité</a></li>
					</ul>
				</nav>
				<nav id="aide_Menu">
					<h5>Aide</h5>
					<ul>
						<li><a href="aide.html" title="Centre d'aide">Centre d'aide</a></li>
						<li><a href="aide.html" title="FAQ">FAQ</a></li>
						<li><a href="aide.html" title="Droit d'auteur">Droit d'auteur</a></li>
					</ul>
				</nav>
				<nav id="Plus_Menu">
					<h5>Plus</h5>
					<ul>
						<li><a href="aide.html" title="Mettre en ligne">Mettre en ligne</a></li>
						<li><a href="aide.html" title="Plan du site">Plan du site</a></li>
					</ul>
				</nav>
			</div>
		</section>

		<section id="bottom_Part">
			<span>
				<realised>Réalisé par:</realised>
				<jerem>Jeremie,</jerem>
				<etienne>Etienne,</etienne>
				<philippe>Philippe,</philippe>
				<arthur>Arthur</arthur>
			</span>
			<a id="back_To" href="#top_Anchor" title="Retour en haut"><img src="img_site/backtoTop.png" alt="Retour en haut"></a>
		</section>
	</footer>

<!--jQuery pour le site-->
<script src="js/main.js"></script>

</body>
</html>